header {
    font-family: Impact, serif;
    height: 90px;
  }
  
p {
    text-align: justify;
  }

body {
    background-color: #323232;
  }
  
#main {
    float: left;
    width: 70%;
    height: 100%;
    margin-top: 10px;
  }

#side {
    float: right;
    width: 25%;
    height: 100%;
    margin: 15px;
  }
  
#link-side {
    width: 100%
  }

#checkbox-main {
  float: left;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
}

#profile {
    text-align: center;
  }

#pug-image {
    max-width: 100%;
    border: 10px;
  }

#cat-image {
    width: 500px;
  }

.side-articles, .main-articles {
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
  }

.side-articles {
    background-color: whitesmoke;
    max-width: 100%;
  }

.main-articles {
  background-color: whitesmoke;
  max-width: 100%;
}


  
h1 {
    font-size: 48px;
    margin-top: 10px;  
  }
  
.list-inside {
    list-style-position: inside;
    text-align: justify;
  }

textarea {
    max-width: 100%;
    height: 150px
    }

header {
    background: white;
    padding: 10px;
    }
  
header, main, footer{
    text-align: center;
    }
     
footer {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-top: 10px;
    height: 20px;
    background-color: whitesmoke;
    }
 
  

a:link {color: red;}
a:visited {color: green;}
a:hover {color: blue;}
a:active {color: orange;}
  